body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f2f2f2;
}

.textm {
  margin-bottom: 1ch;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

form {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 30px;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.delete{
  padding: 10px 20px;
  background-color: #f00202;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete:hover {
  background-color: #bd0000;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#transaction-list {
  margin-bottom: 30px;
}

.transaction {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.transaction .description {
  font-weight: bold;
  color: #333;
}

.transaction .amount {
  float: right;
  color: #555;
}

.summary-box {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

.summary-item {
  flex-basis: 30%;
  text-align: center;
}

.summary-item h2 {
  margin-bottom: 10px;
}

#balance {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

#total-expenses,
#total-income {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
